" IDEA stuff
" set ideajoin
" set idearefactormode=keep
" set ideamarks
" set rnu

" nnoremap leader to space
" let nnoremapleader = " "

" nnoremappings
" nnoremap <space>e :action ActivateProjectToolWindow<cr>

" Navigation
" nnorennoremap <space>l :bp<CR> " prev page
" nnorennoremap <space>h :bn<CR> " next page
nnoremap <space>l :action Forward<cr>
nnoremap <space>h :action Back<cr>
nnoremap <space>] :action GotoNextError<cr>
nnoremap <space>[ :action GotoPreviousError<cr>
nnoremap <space>ee :action RecentFiles<cr>

" easy system clipboard copy/paste
nnoremap <Space>y "+y
nnoremap <Space>p "+p
nnoremap <space>Y "+Y
nnoremap <space>P "+P

" Search
nnoremap <space>fh :action SearchEverywhere<cr>
nnoremap <space>fn :action GotoFile<cr>
nnoremap <space>fc :action FindInPath<cr>
nnoremap <space>fs :action GotoSymbol<cr>
nnoremap <space>fh :action Find<cr>
nnoremap <space>rh :action Replace<cr>

" LSO / Actions
nnoremap <space>N :action NewElement<cr>
nnoremap <space>hi :action CollapseRegion<cr>
nnoremap <space>un :action ExpandAllRegions<cr>
nnoremap <space>pi :action ParameterInfo<cr>
nnoremap <space>td :action GotoTypeDeclaration<cr>
nnoremap <space>gd :action GotoDeclaration<cr>
nnoremap <space>gi :action GotoImplementation<cr>
nnoremap <space>gr :action GotoDeclaration<cr>
nnoremap <space>rn :action RenameElement<cr>
nnoremap <space>rc :action ReformatCode<cr>
nnoremap <space>oc :action OptimizeImports<cr>
nnoremap <space>oa :action ReformatCode<cr> :action OptimizeImports<cr>
nnoremap <space>ev :action IntroduceVariable<cr>
nnoremap <space>ec :action IntroduceConstant<cr>
nnoremap <space>em :action ExtractMethod<cr>
nnoremap <space>k :action QuickJavaDoc<cr>
nnoremap <space>a :action ShowIntentionActions<cr>
nnoremap <space>T :action VimFindActionIdAction<cr>
nnoremap <space>fl :action SelectInProjectView<cr>
nnoremap <space>ne :action NewElement<cr>


" Git
ma <space>gg :action CheckinProject<cr>
nnoremap <space>gp :action Vcs.UpdateProject<cr>
nnoremap <space>gP :action Vcs.Push<cr>
nnoremap <space>ga :action Annotate<cr>
nnoremap <space>gl :action Vcs.Show.Log<cr>

" Debug
nnoremap <space>bp :action ToggleLineBreakpoint<cr>
nnoremap <F5> :action Debug<cr>
nnoremap <F6> :action EvaluateExpression<cr>
nnoremap <F10> :action StepOver<cr>
nnoremap <F11> :action StepInto<cr>
nnoremap <F12> :action StepOut<cr>

" Test
nnoremap <space>ot :action GotoTest<cr>
nnoremap <space>gt :action GenerateTestMethod<cr>
nnoremap <space>C :action Generate<cr>
nnoremap <space>rc :action RunClass<cr>

" Completion
nnoremap <space>a :action CodeCompletion<cr>